<h2>Test Form for FPX</h2>

<!-- <div><span>Amount:{{fpxInfo.amount}}</span></div>
<div><span>Order no: {{fpxInfo.sellerOrderNo}}</span></div>
<div><span>Original Url: {{fpxInfo.originalUrl}}</span></div> -->
<div><span>JSON: {{fpxInfo.fullJson}} </span></div>
<!-- <div><span>Description: {{fpxInfo.description}} </span></div>
<div><span>buyerEmail: {{fpxInfo.buyerEmail}} </span></div> -->

<div><span>env: {{environment}} </span></div>
<br/>

<!-- <div>
    <label>Amount: </label>
    <input [(ngModel)]="fpxInfo.amount" placeholder="transaction amount" />
</div>

<div>
    <label>Order No: </label>
    <input [(ngModel)]="fpxInfo.sellerOrderNo" placeholder="transaction amount" />
</div>

<div>
    <label>Original Url: </label>
    <input [(ngModel)]="fpxInfo.originalUrl" placeholder="transaction amount" />
</div> -->

<div>
    <label>Json :</label>
    <input [(ngModel)]="fpxInfo.fullJson" placeholder="transaction amount" />
</div>

<!-- <div>
    <label>Description: </label>
    <input [(ngModel)]="fpxInfo.description" placeholder="transaction amount" />
</div> -->

<div>
    <label>env: </label>
    <input [(ngModel)]="environment" placeholder="transaction amount" />
</div>

<!-- <div>
    <label>buyer email: </label>
    <input [(ngModel)]="fpxInfo.buyerEmail" placeholder="transaction amount" />
</div> -->

<!-- <form *ngIf="environment === 'staging' " ngNoForm id="fpxForm" action="https://payfosimstag.moh.gov.my/payment/getAR" method="post"> -->
<form *ngIf="environment === 'staging' " id="fpxForm" action="https://localhost:4432/payment/getAR" method="post">
    <input type="hidden" name="rawJson" value="{{fpxInfo.fullJson}}" />
    <input type="submit" value="BAYAR POST" onclick="document.getElementById('fpxForm').submit()">
</form>

<div >
    <button (click)="pay()">BAYAR ASYNC</button>
</div>